@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@media screen and (max-width:480px){
    input{
        background-color: black;
    }
}
body{
	width:auto;
	height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13110d;
    font-family: 'Oswald', sans-serif;
}
.first{
    width:auto;
    height:50px;
    display: flex;
    justify-content: space-around;
	align-items:center;
	flex-direction:column;
}
input{
    width:350px;
    height:50px;
    background-color: rgba(134, 135, 135, 0.105);
    border-radius: 14px;
    color: white;
    border: 0px;
    padding: 5px 0 0 5px;
    box-shadow: inset 2px 2px 5px rgb(56, 56, 56);
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
}
.second{
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
	align-items:center;
    margin-top: 35px;
	flex-direction:column;
}
.circle{
    width:300px;
    height:300px;
    display: flex;
    justify-content: space-around;
    border-radius:50%;
	align-items:center;
    background-image: url(preview_image.avif);
    box-shadow: inset 3px 5px 25px rgb(0, 0, 0),
                    1px 2px 25px rgb(255, 255, 255);
	flex-direction:column;
    color: white;
    font-size: 35pt;
}
button{
	width:50%;
	height:50px;
	background-color: #1f215e;
	border-radius: 15px;
    margin: 25px 0  0 0;
    font-family: 'Oswald', sans-serif;
	font-size: 15pt;
    box-shadow:1px 1px 5px rgb(255, 255, 255);
    color: rgb(185, 184, 184);
}
